

.stationCard{
  cursor: pointer;
  background-color: #eee;
  padding: 1rem;
  border-radius: 3pt;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom: 1rem;
}

.stationCard h3 {
  padding: 12px 20px;
  background-color: #c08907; 
  border: 3px solid black;
  border-radius: 3pt;
  width: 30%;
  text-align: center;
}

.stationCard:hover{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.stationCardButtons{
  display: flex;
  justify-content: space-between;
}

.stationCardButtons button{
  background-color: #ccc;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 2pt;
}