

.busForm{
  padding: 12px;
}

.busForm label {
  display: flex;
  flex-direction: row;
}

.busForm input, .busForm textarea{
  padding: 5px;
  border-radius: 2pt;
  padding: 10px 15px;
  border-radius: 3pt;
  width: 365px;
}

.busFormGroup {
  padding: 2px 0px;
}

.busForm button{
  background-color: #11652d;
  border: none;
  cursor: pointer;
  padding: 10px 0px;
  border-radius: 3pt;
  width: 400px;
  color: aliceblue;
}