.stopCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: move;
    background-color: #fff;
    padding: 1rem;
    border-radius: 3pt;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
    width: 650px;
}

.stopCardButtons{
    display: flex;
    justify-content: space-between;
}